
@{
    ViewBag.Title = "Index";
}

<h2>Menu Item Details:</h2>

<div class="container">
    <table class="table table-boardered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>category</th>
                <th>Name</th>
                <th>Price</th>
                <th>Status</th>
                <th>Free Delivery</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{ 
                foreach(var item in Model)
                {
                    string status = item.IsActive ? "Active" : "InActive";
                    string freedelivery = item.FreeDelivery ? "Yes" : "No";
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Category</td>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>@status</td>
                    <td>@freedelivery</td>
                    <td>
                        <a href="~/Admin/Edit?id=@item.Id" class="btn btn-warning">Edit</a>
                        &nbsp;
                        <a href="~/Admin/Delete?id=@item.Id" class="btn btn-danger">Delete</a>
                    </td>
                   
                </tr>
            }
            }

        </tbody>
    </table>
</div>

